<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="" action="/lookup" method="post">
      <input type="text" name="url" value="">
      <button type="submit" name="button">Enviar</button>
    </form>
  </body>
</html>
